# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: Apache-2.0

---

# See https://www.vaultproject.io/docs/platform/k8s/helm for more information
global:
  enabled: true
injector:
  enabled: true
  metrics:
    enabled: true
server:
  auditStorage:
    enabled: true
  dataStorage:
    enabled: true
  ha:
    enabled: true
    replicas: 1
    raft:
      enabled: true
      config: |
        ui = true

        listener "tcp" {
          tls_disable = 1
          address = "[::]:8200"
          cluster_address = "[::]:8201"
        }

        storage "raft" {
          path = "/vault/data"
        }

        service_registration "kubernetes" {}
