---

name: "Documentation: terraform-docs"

on:
  pull_request:

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Render documentation and push changes back to branch
        uses: terraform-docs/gh-actions@v0.11.0
        with:
          config-file: "../.terraform-docs.yml"
          output-file: "README.md"
          output-method: inject
          git-push: true
